//$recipeHolderBackGroundColor: #CFCFCF;
$recipeBackGroundColor: #C3D4DB;
$button-background-color: #115F8A;
$button-text-color: white;
$recipe-heading-color:#144E66;
$ingredient-background-color:#D8E1E6;
$delete-button-color:#ED1C1C;
$edit-button-color:#8FBACC;