//$recipeHolderBackGroundColor: #CFCFCF;
$recipeBackGroundColor: #C3D4DB;
$button-background-color: #115F8A;
$button-text-color: white;
$recipe-heading-color:#144E66;
$ingredient-background-color:#D6D6D6;