#recipe {
  background-color: $recipeBackGroundColor;
  width: 100%;
  border-style:none;
  display: flex;
  margin-bottom: 10px;
  color: $recipe-heading-color;

  h1 {
    margin-left: 10px;
  }
}

#recipe-content {
  margin: 0px;
  padding: 0px;
}